#root {
    height: 100vh;
    width: 100vw;
  }
  
  #container {
    position: relative;
    background-color: lightpink;
    border: solid red 1px;
  }
  
  #draghandle {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
  }