body {
  padding: 2% 2% 0 2%;
}
.lb-sm {
  font-size: 18px;
}

.lb-md {
  font-size: 24px;
}

.lb-lg {
  font-size: 30px;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

body {
  padding-bottom: 120px;
}

#root {
  padding-bottom: 120px;
}

.dark-mode-toggle {
  position: relative;
  width: 60px;
  height: 30px;
  background-color: #888;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dark-mode-toggle::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .dark-mode-toggle {
  background-color: #222;
}

input[type="checkbox"]:checked + .dark-mode-toggle::before {
  transform: translateX(30px);
}

.onTop {
  z-index: 10000;
}