body {
  padding: 2% 10% 0 10%;
}
.lb-sm {
  font-size: 18px;
}

.lb-md {
  font-size: 24px;
}

.lb-lg {
  font-size: 30px;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

body {
  padding-bottom: 120px;
}

#root {
  padding-bottom: 120px;
}